*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --dark-blue: #253042;
  --primary: #6819b8;
  --secondary: #51237e;
  --accent: #00c3ff;
  --accent-dark: #00a2ff;
  --brown: #dcc6ab;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto 100px;
  grid-template-columns: 100%;

  /* display: flex;
  flex-direction: column; */
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 0 50px 0;
  /* flex-grow: 1; */
  background: #eef2f3;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited {
  color: var(--blue);
}
