*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto 60px;

  /* display: flex;
  flex-direction: column; */
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  /* flex-grow: 1; */
}

.container {
  width: 100%;
  max-width: 1400px;
}

ul {
  margin: 0;
  padding: 0;
}
